body {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 7% 88% 5%;
    grid-template-areas: 
    "hd"
    "main"
    "ft";
    font-family: $font-stack;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}