@media (max-width: 805px) {
    body {
        grid-template-rows: 7% 82% 10%;
    }

    footer {
        grid-auto-rows: auto;
        grid-template-areas: 
        "right" 
        "left";

        .right, .left {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

@media (max-width: 648px) {
    .middle {
        width: 90vw;
    }
}