header {
    grid-area: hd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    color: $header-black;
    margin-right: 30px;

    a {
        color: $header-black;
        margin-left: 15px;

        &:visited {
            color: $header-black;
        }

        &:hover, :focus {
            opacity: .85;
            text-decoration: underline;
        }
    }
}