footer {
    grid-area: ft;
    display: grid;
    grid-auto-columns: auto;
    grid-template-areas: "left right";
    align-items: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
    color: $footer-grey;

    a {
        color: $footer-grey;

        &:visited {
            color: $footer-grey;
        }

        &:hover, :focus {
            text-decoration: underline;
        }
    }

    @include respond-to('medium') {
        grid-auto-rows: auto;
        grid-template-areas: 
        "right" 
        "left";
    }
}

.left {
    grid-area: left;
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;

    a {
        margin-right: 15px;
    }

    @include respond-to('small') {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.right {
    grid-area: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    align-items: center;

    a {
        margin-left: 15px;
    }

    @include respond-to('small') {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}