html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 7% 88% 5%;
  grid-template-areas: "hd" "main" "ft";
  font-family: Arial, sans-serif;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
@media (max-width: 805px) {
  body {
    grid-template-rows: 7% 82% 10%;
  }
}

header {
  grid-area: hd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 30px;
}
header a {
  color: rgba(0, 0, 0, 0.87);
  margin-left: 15px;
}
header a:visited {
  color: rgba(0, 0, 0, 0.87);
}
header a:hover, header a :focus {
  opacity: 0.85;
  text-decoration: underline;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 140px;
}

.middle {
  margin-top: 25px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 580px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.middle:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.middle-1 {
  flex-basis: 40px;
  padding-left: 12px;
}

.icon-1 {
  color: #9aa0a6;
  fill: currentColor;
  height: 20px;
  width: 20px;
  display: inline-block;
  line-height: 24px;
}

.middle-2 {
  flex-basis: 500px;
  line-height: 44px;
}

.search {
  line-height: 34px;
  height: 34px;
  padding-left: 2px;
  padding-right: 10px;
}

.input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.middle-3 {
  flex-basis: 40px;
}

.icon-3 {
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-3:hover {
  cursor: pointer;
}

.bottom {
  margin-top: 18px;
}

footer {
  grid-area: ft;
  display: grid;
  grid-auto-columns: auto;
  grid-template-areas: "left right";
  align-items: center;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  font-size: 14px;
  color: #5f6368;
}
footer a {
  color: #5f6368;
}
footer a:visited {
  color: #5f6368;
}
footer a:hover, footer a :focus {
  text-decoration: underline;
}
@media (max-width: 805px) {
  footer {
    grid-auto-rows: auto;
    grid-template-areas: "right" "left";
  }
}

.left {
  grid-area: left;
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
}
.left a {
  margin-right: 15px;
}
@media (max-width: 648px) {
  .left {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.right {
  grid-area: right;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  align-items: center;
}
.right a {
  margin-left: 15px;
}
@media (max-width: 648px) {
  .right {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.icon {
  background-position: -132px -38px;
  opacity: 0.55;
  background-image: url("images/icon.png");
  background-size: 528px 68px;
  height: 30px;
  width: 30px;
  display: inline-block;
  outline: none;
  vertical-align: middle;
  border-radius: 2px;
  cursor: pointer;
}
.icon:hover, .icon :focus {
  opacity: 0.85;
}

.signin {
  color: #fff;
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
  border: 1px solid #4285f4;
  border-radius: 2px;
  font-weight: bold;
  line-height: 28px;
  padding: 0 12px;
  cursor: default;
}
.signin:visited {
  color: #fff;
}
.signin:hover {
  text-decoration: none;
  opacity: 1;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.signin:focus {
  text-decoration: none;
  opacity: 1;
  outline-offset: 1px;
}
.signin:active {
  text-decoration: none;
  opacity: 1;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}

.button {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}
.button:focus {
  border: 1px solid #4d90fe;
  outline: none;
}
