#header {
  padding: 6px;
}

.header-link {
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding: 15px 15px 15px 0;
}

a.header-link {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}

a.header-link:hover, a.header-link:focus {
  text-decoration: underline;
}

#header-buttons-menu {
  color: #5f6368;
  font-size: 24px;
  padding: 6px;
}

#header-buttons-signin {
  background: #1a73e8;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  padding: 9px 23px;
  margin: 0 8px;
}

a#header-buttons-signin:hover, a#header-buttons-signin:focus {
  background: #2b7de9;
  box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%), 0 1px 3px 1px rgb(66 133 244 / 15%);
  text-decoration: none;
}

a#header-buttons-menu:hover, a#header-buttons-menu:focus {
  background-color: rgba(60,64,67,0.08);
  border-radius: 50%;
  outline: none;
}

#header-links {
  padding-left: 15px;
}

